<!-- projects.html -->
{% extends 'base.html' %}
{% block title %}Photos{% endblock %}
{% block content %}

<div class="container mt-5">
    <div class="mt-5">
        <p class="my_title_txt"><span class="pipe">|</span>Photography</p>
        <div class="row my-5">
            {% for photo in photos %}
            <div class="col-md-4 mb-3">
                <div class="card project-size">
                    
                    <img src="{{ url_for('static', filename=photo.pic_img_url) }}" class="card-img-top photo_img" alt="{{ photo.client_name }}" onclick="openModal(this);">
                    
                    <div class="card-body">
                        <h3 class="card-title">{{ photo.client_name }}</h3>
                        <p class="card-text">{{ photo.pic_short_desc }}</p>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>

        <div id="photoModal" class="photo-modal">
            <span id="closeModal" class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div class="text-center btn-bg">
                <button id="cancelButton" class="cancel-btn my-5">X</button>
            </div>
        </div>
        
    </div>
</div>




{% endblock %}