<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/admin.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/bb9d1ea0e5.js" crossorigin="anonymous"></script>
    <title>Admin Dashboard</title>
    
</head>
<body class="bg-dark">

    <nav class="navbar navbar-light justify-content-between">
        <div class="container">
            <!-- site title logo -->
            
            <a href="/admin-dashboard" class="navbar-brand text-success h1">Admin Dashboard</a>

            <ul class="nav navbar-nav flex-row float-right">

                {% if session['admin_username'] %}
                <li class="nav-item">
                    <p class="nav-link pr-3 text-light">{{ session['admin_username']}}</p>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="btn btn-success px-3" href="/logout"><i class="fa-solid fa-lock pr-2"></i>Admin Logout</a>
                </li>
   

            </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
    
</body>
</html>