{% extends 'base.html' %}
{% block title %}Create Admin Account{% endblock %}
{% block content %}

<div class="container center py-5 px-5 mt-5">
    <div class="text-center">
        <p class="text-success form_title_txt">Create Admin</p>
    </div>
    

    <form method="POST">
        {{ form.hidden_tag() }}

    {% for field in form
        if field.widget.input_type != 'hidden' %}
    <p>
        {{ field.label(class_="form-text") }}
        {{ field(class_="form-control") }}

        {% for error in field.errors %}
        <span class="form-text text-danger">{{ error }}</span>
        {% endfor %}
    </p>
    {% endfor %}

    <button type="submit" class="my_login_btn px-4 mr-1">Create Admin</button>
    <a href="/admin-login" class="have_login px-4 ml-1">Already Have an Account</a>
    </form>

</div>

{% endblock %}