/* html {
font-family: 'Courier New', Courier, monospace;} */

  @import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

  html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

*, .my_bg_color{
    background-color: #0a192f;
}

.name-logo {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #4a93ff;
}
.name-logo:hover {
    color: #4a93ff50;
    text-decoration: none;
}

.my_nav_link {
    color: #ffffff;
    font-family: 'Cultive Mono', monospace;
}

.my_nav_link:hover {
    color: #4a93ff;
    text-decoration: none;
}


.my_name {
    font-size: 80px;
}

.name_is {
    font-family: 'Cutive Mono', monospace;
    font-size: 25px;
    color: #4a93ff;
}

.my_home_title_txt {
    font-family: 'Cutive Mono', monospace;
    color: #4a93ff90;
    font-size: 25px;
}

.my_title_txt {
    font-family: 'Cutive Mono', monospace;
    color: #4a93ff90;
    font-size: 25px;
  }

.abt_me_short {
    color: #4a93ff;
    font-family: 'Cutive Mono', monospace;
}

.my_btns {
    font-family: 'Cutive Mono', monospace;
    color: #4a93ff;
    background: none;
    border: 1px solid #4a93ff;
    padding: 10px 20px 10px 20px;
}

.my_btns:hover {
    background: #4a93ff;
    color: #ffffff;
    font-weight: bold;
}

.my_login_btn {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    background: #4a93ff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
}

.form_title_txt {
    font-family: 'Cutive Mono', monospace;
    color: #4a93ff;
    font-size: 25px;
}

.my_login_btn:hover {
    background: #4a93ff90;
}

.have_login {
    font-family: 'Poppins', sans-serif;
    color: #ff4a6b;
    /* background: #ff4a6b; */
    border: 1px solid #ff4a6b;
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
}

.have_login:hover {
    color: #ffffff;
    background: #ff4a6b;
    text-decoration: none;
}

.form-text {
    color: #4a93ff90;
}

.center {
    margin: 0 auto; /* This centers the container */
    max-width: 500px; /* Adjust the width as needed */
}


.my_work_title {
    color: #4a93ff;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.work_address {
    color: #4a93ff60;
    /* margin-top: -5px; */
}

.work_desc {
    color: #4a93ff60;
}
.work_desc_date {
    color: #4a93ff60;
    margin-top: 15px;
}

.pipe {
    color: #4a93ff90;
    font-weight: bold;
}

.my_para {
    color: #ffffff85;
}


.my_footer_txt {
    font-family: 'Cutive Mono', monospace;
    background: #4a93ff;
    color: #0a192f;
    font-size: 15px;
}

footer {
    margin-top: auto; /* Pushes the footer to the bottom */
    /* Footer styling */
    background-color: #4a93ff;
    bottom: 0;
    padding: 20px;
    text-align: center;
}


/* big picture  */

.photo-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 900px;
    /* background: rgba(0,0,0,0.9); */
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.btn-bg {
    background: none;
}

.cancel-btn {
    background: none;
    font-family: 'Poppins', sans-serif;
    color: #ffffff90;
    border: 1px solid #ffffff90;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

.cancel-btn:hover {
    color: #ffffff;
    background: #ffffff90;
    border: none;
}

.photo_img {
    cursor: pointer;
}

.photo_img:hover {
    border: 1px solid #ffffff;
    opacity: 80%;
}

.proj_title {
    color: #4a93ff;
    font-family: 'Cutive Mono', monospace;
    font-size: 25px;
}

.proj_para {
    color: #ffffff90;
}

.github_btn {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    background: #4a93ff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

.github_btn:hover {
    color: #ffffff;
    text-decoration: none;
    background: #4a93ff90;
}


/* highlight nav tags to indicate the current page  */
.active {
    color: #4a93ff; /* or any other style to highlight the active link */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.fadeIn {
    animation: fadeIn 1s ease-in-out;
}


/* home page animations  */

.my_bio_text {
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
    background-image: url('/static/images/bharatnatiyam-2-2.jpg');
    background-size: cover; /* Cover the entire div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
}

.my_about_below {
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
    background: url('static/images/bharatnatiyam-2-2.jpg');
}

a.my_btns {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}


/* bg slideshow images */

#slideshow {
    position: fixed; /* Changed from absolute to fixed */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /* Ensure it stays behind other content */
    overflow: hidden;
}


#slideshow img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#slideshow img.active {
    opacity: 1;
}

.bio_bg_image_ {
    z-index: 0;
}


/* For tablets
@media (min-width: 768px) and (max-width: 1024px) {
    Tablet-specific styles here
}

iPhone X and later models
@media only screen and (max-width: 375px) {
    Styles for iPhone X and later
    .my_name {
        font-size: 60px;
    }
    .name_is, .my_home_title_txt, .my_title_txt {
        font-size: 20px;
    }

    img {
        width: 100%;
        height: auto;
    }
    .my_btns, .cancel-btn {
        padding: 8px 16px;
    }
} */