{% extends 'admin/admin_base.html' %}
{% block title %}Add new project{% endblock %}
{% block content %}

<div class="container center py-5 px-5 mt-5">
    <div class="text-center">
        <p class="text-success form_title_txt">Update Work Information</p>
    </div>

    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

    <!-- Render other fields automatically -->
    {% for field in form
        if field.widget.input_type not in ['hidden'] %}
    <p>
        {{ field.label(class_="text-success") }}
        {{ field(class_="form-control") }}

        {% for error in field.errors %}
        <span class="form-text text-danger">{{ error }}</span>
        {% endfor %}
    </p>
    {% endfor %}

    <button type="submit" class="btn btn-success px-4 mr-1">Update Work</button>
    <a href="{{url_for('admin_dashboard')}}" class="btn btn-outline-danger px-4 mr-1">Cancel</a>
    </form>

</div>

{% endblock %}