{% extends 'admin/admin_base.html' %}
{% block title %}Add new project{% endblock %}
{% block content %}

<div class="container center py-5 px-5 mt-5">
    <div class="text-center">
        <p class="text-success form_title_txt">Add New Photo</p>
    </div>
    

    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <!-- Render FileField manually -->
        <div class="form-group text-success mt-2">
            {{ form.pic_img_url.label(class='form-label text-success') }}
            {{ form.pic_img_url(class='form-control-file') }}
            {% for error in form.pic_img_url.errors %}
            <span class="form-text text-danger">{{ error }}</span>
            {% endfor %}
        </div>

    <!-- Render other fields automatically -->
    {% for field in form
        if field.widget.input_type not in ['hidden', 'file'] %}
    <p>
        {{ field.label(class_="text-success") }}
        {{ field(class_="form-control") }}

        {% for error in field.errors %}
        <span class="form-text text-danger">{{ error }}</span>
        {% endfor %}
    </p>
    {% endfor %}

    <button type="submit" class="btn btn-success px-4 mr-1">Add Photo</button>
    </form>

</div>

{% endblock %}